<a href="https://colab.research.google.com/github/Komal77rao/Data-Eng-Modules/blob/main/index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Functions Review

### Introduction

In this lesson, we'll review working with Python APIs and functions.  Let's get started.

### Getting our Data

In this lesson, we'll work with the [Econdb api](https://www.econdb.com/api/series/?page=1).  As you can see on the page, we can make a request to the api with something like the following.

In [2]:
!pip3 install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.7.22)

In [ ]:
import requests

url = "https://www.econdb.com/api/series/CPIUS/?format=json&token=9afc69a45ef51e43572f21763759a877c77a714d"

response = requests.get(url)
json_values = response.json()
json_values

### Working with our data

Begin by identifying all of the **keys** in `json_values`.

In [16]:
json_values.keys()

# dict_keys(['ticker', 'description', 'geography', 'frequency', 'dataset', 'units', 'additional_metadata', 'data'])

dict_keys(['ticker', 'description', 'geography', 'frequency', 'dataset', 'units', 'additional_metadata', 'data'])

And also identify all of the keys in under the `data` attribute.

In [ ]:
json_values['data']['dates']

# dict_keys(['values', 'dates', 'status'])

Ok, so we can see that we have keys of `values` and `dates`.

So now create a list of the most recent 300 dates -- from earliest to latest.

In [54]:
recent_dates = sorted([date for date in json_values['data']['dates']][-300:])
recent_dates[:5]

# ['1997-08-01', '1997-09-01', '1997-10-01', '1997-11-01', '1997-12-01']

['1998-11-01', '1998-12-01', '1999-01-01', '1999-02-01', '1999-03-01']

And create a list of the corresponding consumer price index values.

In [55]:
recent_values = sorted([date for date in json_values['data']['values']][-300:])
recent_values[:5]

[164.1, 164.4, 164.7, 164.7, 164.8]

Now create a list of tuples called `cpis` that uses the `recent_dates` and `recent_values` list to return a list of tuples consisting of the date and the corresponding consumer price index.

In [56]:
cpis = list(zip(recent_dates,recent_values))

cpis[:5]

# [('1997-08-01', 160.8),
#  ('1997-09-01', 161.2),
#  ('1997-10-01', 161.5),
#  ('1997-11-01', 161.7),
#  ('1997-12-01', 161.8)]

[('1998-11-01', 164.1),
 ('1998-12-01', 164.4),
 ('1999-01-01', 164.7),
 ('1999-02-01', 164.7),
 ('1999-03-01', 164.8)]

And then, turn this list of tuples into a list of dictionaries with keys of date and price.

> If you are unable to complete the below step, you can skip the problem and proceed to the next section.

In [ ]:
price_json = [{'date':k, 'price':v} for k,v in cpis]
price_json

In [59]:
price_json[:5]

[{'date': '1998-11-01', 'price': 164.1},
 {'date': '1998-12-01', 'price': 164.4},
 {'date': '1999-01-01', 'price': 164.7},
 {'date': '1999-02-01', 'price': 164.7},
 {'date': '1999-03-01', 'price': 164.8}]

### Working with Data

In [5]:
import pandas as pd
url = "https://raw.githubusercontent.com/apis-jigsaw/cpi-functions-quiz/main/cpi_json.json"
price_dates = pd.read_json(url).to_dict('records')

In [6]:
price_dates[:3]

[{'date': Timestamp('1997-09-01 00:00:00'), 'price': 161.2},
 {'date': Timestamp('1997-10-01 00:00:00'), 'price': 161.5},
 {'date': Timestamp('1997-11-01 00:00:00'), 'price': 161.7}]

* Filtering

In [7]:
def price_greater_than(price_dates, amount):
    return [price for price in price_dates if price['price'] > amount]

In [8]:
price_greater_than(price_dates, 200)[:3]

# [{'date': Timestamp('2006-04-01 00:00:00'), 'price': 200.7},
#  {'date': Timestamp('2006-05-01 00:00:00'), 'price': 201.3},
#  {'date': Timestamp('2006-06-01 00:00:00'), 'price': 201.8}]

[{'date': Timestamp('2006-04-01 00:00:00'), 'price': 200.7},
 {'date': Timestamp('2006-05-01 00:00:00'), 'price': 201.3},
 {'date': Timestamp('2006-06-01 00:00:00'), 'price': 201.8}]

* Exploring Timestamps

Now we can see that each date points to a timestamp object.  If we explore a timestamp, notice that we can extract certain attributes from it.

> Let's start by pulling out the first date.

In [60]:
first_price_date = price_dates[0]

first_price_date # {'date': Timestamp('1997-09-01 00:00:00'), 'price': 161.2}

first_date = first_price_date['date']
first_date

Timestamp('1997-09-01 00:00:00')

In [61]:
first_date.year

1997

Then, write a function called `filter_price_by` that takes list of `price_dates` and given both a month and year, return the corresponding price.

In [66]:
def filter_price_by(price_dates, month, year):
  return [price['price'] for price in price_dates if price['date'].month == month and price['date'].year == year]

In [67]:
filter_price_by(price_dates, 3, 2020)

# 258.2

[258.2]

Then let's write a method that allows us to filter by both prices and years.

In [77]:
def filter_price_by(amount, year):
  return [price for price in price_dates if price['price'] > amount and price['date'].year == year]

In [78]:
filter_price_by(290, 2022)

# [{'date': Timestamp('2022-05-01 00:00:00'), 'price': 291.5},
#  {'date': Timestamp('2022-06-01 00:00:00'), 'price': 295.3},
#  {'date': Timestamp('2022-07-01 00:00:00'), 'price': 295.3},
#  {'date': Timestamp('2022-08-01 00:00:00'), 'price': 295.6}]

[{'date': Timestamp('2022-05-01 00:00:00'), 'price': 291.5},
 {'date': Timestamp('2022-06-01 00:00:00'), 'price': 295.3},
 {'date': Timestamp('2022-07-01 00:00:00'), 'price': 295.3},
 {'date': Timestamp('2022-08-01 00:00:00'), 'price': 295.6}]

Now let's create a new list of dictionaries for each `price_date` has a key of `year`, a key of `month`, as well as the corresponding price.

In [79]:
expanded_price_dates =   [{'month': price['date'].month,
                           'year': price['date'].year,
                           'price': price['price']}
                          for price in price_dates]

expanded_price_dates[:3]

# [{'month': 9, 'year': 1997, 'price': 161.2},
#  {'month': 10, 'year': 1997, 'price': 161.5},
#  {'month': 11, 'year': 1997, 'price': 161.7}]

[{'month': 9, 'year': 1997, 'price': 161.2},
 {'month': 10, 'year': 1997, 'price': 161.5},
 {'month': 11, 'year': 1997, 'price': 161.7}]