# Functions Data Structures Quiz

### Function Warmup

Write a function that takes in a person's name and capitalizes it.

In [1]:
def capitalize_name(name):
    return name.capitalize()

In [2]:
capitalize_name('bob')
# 'Bob'

'Bob'

In [3]:
capitalize_name('fred')
# 'Fred'

'Fred'

* Write a function that takes two numbers and divides them

In [7]:
def divide(first_number, second_number = 1):
  return first_number/second_number

In [8]:
divide(6, 2)
# 3.0

3.0

Now change the function `divide` so that when `second_number` is not defined, we divide by one.

In [9]:
divide(6)
# 6

6.0

### Loops Warmup

In [10]:
parks = ['bryant', 'central', 'battery']

* Use loops to create a list of the `capitalized_parks` where each park is capitalized.

In [11]:
capitalized_parks = [capitalize_name(park) for park in parks]

In [12]:
capitalized_parks
# ['Bryant', 'Central', 'Battery']

['Bryant', 'Central', 'Battery']

If you did not do so above, use list comprehension to capizalize the parks.

In [13]:
capitalized_parks = [capitalize_name(park) for park in parks]

* Working with lists of dictionaries

In [37]:
detailed_parks = [
    {'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6},
    {'name': 'Central Park', 'location': 'Uptown', 'acres': 840},
    {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25},
    {'name': 'Morningside Park', 'location': 'Morningside', 'acres': 30}
]

* Write a function that will add a key value pair of `'city': 'New York'` to each of the dictionaries above.

In [48]:
def add_city(detailed_parks):
  park_city = []
  for park in detailed_parks:
    park['city'] = 'New york'
    park_city.append(park)
  return park_city

In [49]:
add_city(detailed_parks)

# [{'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6, 'city': 'New York'},
# {'name': 'Central Park', 'location': 'Uptown', 'acres': 840, 'city': 'New York'},
# {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25, 'city': 'New York'},
# {'name': 'Morningside Park', 'location': 'Morningside', 'acres': 30, 'city': 'New York'}]

[{'name': 'Bryant Park',
  'location': 'Midtown',
  'acres': 9.6,
  'city': 'New york'},
 {'name': 'Central Park',
  'location': 'Uptown',
  'acres': 840,
  'city': 'New york'},
 {'name': 'Battery Park',
  'location': 'Downtown',
  'acres': 25,
  'city': 'New york'},
 {'name': 'Morningside Park',
  'location': 'Morningside',
  'acres': 30,
  'city': 'New york'}]

* Then use list comprehension to create a list of park names.

In [52]:
park_names = [park_name['name'] for park_name in detailed_parks]
park_names

# ['Bryant Park', 'Central Park', 'Battery Park', 'Morningside Park']

['Bryant Park', 'Central Park', 'Battery Park', 'Morningside Park']

* Loop through each of the parks, and only add the parks that are strictly less than 30 acres.  Assign them to the list, smaller parks.

In [53]:
smaller_parks = [park for park in detailed_parks if park['acres'] < 30]


smaller_parks
# [
# {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25},
# {'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6}
# ]

[{'name': 'Bryant Park',
  'location': 'Midtown',
  'acres': 9.6,
  'city': 'New york'},
 {'name': 'Battery Park',
  'location': 'Downtown',
  'acres': 25,
  'city': 'New york'}]

* Then write a function that allows you to specify provide the size of a park to select.

In [56]:
def parks_less_than(parks, size):
  return [park for park in detailed_parks if park['acres'] <= size]

In [57]:
parks_less_than(detailed_parks, 10)
# [{'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6}]

[{'name': 'Bryant Park',
  'location': 'Midtown',
  'acres': 9.6,
  'city': 'New york'}]

In [58]:
parks_less_than(detailed_parks, 50)
# [{'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6},
#  {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25},
#  {'name': 'Morningside Park', 'location': 'Morningside', 'acres': 30}]

[{'name': 'Bryant Park',
  'location': 'Midtown',
  'acres': 9.6,
  'city': 'New york'},
 {'name': 'Battery Park',
  'location': 'Downtown',
  'acres': 25,
  'city': 'New york'},
 {'name': 'Morningside Park',
  'location': 'Morningside',
  'acres': 30,
  'city': 'New york'}]

Now write a function that only returns the *names* of a park smaller than a specified size.

In [59]:
def park_name_less_than(parks, size):
    return [park['name'] for park in detailed_parks if park['acres'] <= size]

In [60]:
park_name_less_than(detailed_parks, 10)
# ['Bryant Park']

['Bryant Park']

In [61]:
park_name_less_than(detailed_parks, 50)
# ['Bryant Park', 'Battery Park', 'Morningside Park']

['Bryant Park', 'Battery Park', 'Morningside Park']