# Split and Join Lab

### Introduction

In this lesson, we'll practice working with `split` and `join`.  We'll do so to practice working with some location information from [Texas Drink Receipts API](https://data.texas.gov/Government-and-Taxes/Mixed-Beverage-Gross-Receipts/naix-2893).

### Loading our data

To begin with, let's get a bunch of store locations for Max's Wine Bar.

In [1]:
import pandas as pd
df = pd.read_json("https://raw.githubusercontent.com/eng-6-22/mod-1-a-data-structures/master/5-coercing-strings/locations.json")

In [2]:
locations = list(df.location_address)
locations[0:3]

['2914 HARRY HINES BLVD', '3001 PABLO KISEL BLVD STE N', '21815 W HWY 71']

Now let's say that we need to separate the street number from the rest of the street address for each element.  So this way we can can have a list of just the streets of the locations.

```python
['HARRY HINES BLVD', 'PABLO KISEL BLVD STE N', 'W HWY 71']
```

1. Do it for one element.

Let's start by accomplishing this for a single string, so that we turn an address like `'2914 HARRY HINES BLVD'` into `'HARRY HINES BLVD'`.

> Press shift + return on the cell below.

In [3]:
address = '2914 HARRY HINES BLVD'

> To start, let's take our address above and turn the string into a list of words.

In [5]:
address_words = address.split(" ")
address_words
# ['2914', 'HARRY', 'HINES', 'BLVD']

['2914', 'HARRY', 'HINES', 'BLVD']

> Then select every element after the first element, and turn them back into a string.

In [7]:
address_street_words = " ".join(address_words[1:])
address_street_words
# 'HARRY HINES BLVD'

'HARRY HINES BLVD'

2. Do it for all

Now that we determined how to do this for one of the reviews, let's form a list of all of the streets.

In [8]:
address_streets = [" ".join((location.split(" "))[1:]) for location in locations]

In [9]:
address_streets[:4]
# ['HARRY HINES BLVD', 'PABLO KISEL BLVD STE N',
# 'W HWY 71', 'SLIDE RD STE 100']

['HARRY HINES BLVD', 'PABLO KISEL BLVD STE N', 'W HWY 71', 'SLIDE RD STE 100']

### Summary

In this lesson, we saw how we can use split and join to coerce our string data.  We also reinforced our process of first solving a problem on just one element, and then moving to solving the same problem on each element in a loop.