# Inserting data lab

### Introduction

Now that Mean Green hasÂ some tables to store information about employees and ingredients that it needs to purchase, it is ready to populate it's tables. In this lab we will practice inserting data into our newly created tables. We want the ingredients table to include information about the ingredients being used in the shop, and the employees table to include information about the employees who work at the shop.

### Recreate the Tables

Let's start out by recreating our database and tables from previous lessons. The code for creating the tables is provided for you. Copy and paste it into the appropriate files.

```sql
-- create_employees.sql
CREATE TABLE employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    position TEXT,
    start_date DATE,
    zip_code TEXT,
    phone_number TEXT);
```

```sql
-- create_ingredients.sql
CREATE TABLE ingredients (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    cost_per_ounce FLOAT,
    calories_per_ounce INTEGER,
    expiration DATE);
```

In our terminal run the following command to open up the sqlite shell.

`sqlite3 saladshop.db`

Then, when inside of the sqlite shell, run the following:
    
`.read create_ingredients.sql`

`.read create_employees.sql`

Then, from inside of the shell, make sure our database is set up correctly by running `.tables`.

### Populating the Ingredients Table

Now that our database and tables have been created we can begin to insert data below.

| name         | cost_per_ounce | calories_per_ounce | expiration  |
|--------------|----------------|--------------------|-------------|
| baby spinach |  .19           | 7                  |  2020-02-05 |
| kale         | .50            | 10                 |  2020-02-10 |
| tomatoes     | 1.25           | 5                  |  2020-01-30 |
| broccoli     |  1.15          | 45                 | 2020-02-10  |
| chicken      | 3.50           | 60                 | 2020-02-07  |

Using the data provided above, insert the data into the ingredients table.
```sql
INSERT INTO *table name* (*column names*) VALUES
    (*data*),
    (*data*);
```

Steps:
1. First create a new file called insert_ingredients.sql
2. In the insert_ingredients.sql, add the INSERT statement to add the above data to our ingredients table.
3. Run `.read insert_ingredients.sql` in the sqlite shell

If the data has been inserted correctly, running the following `select * from ingredients` in the sqlite shell will return all of the data in the ingredients table.

### Populating Employees Table

Let's repeat the same steps as above, except this time, inserting data into the employees table. This time, name the file insert_employees.sql.

| name    | position        | start_date | zip_code | phone_number |
|---------|-----------------|------------|----------|--------------|
| Tom     | manager         | 2019-05-20 | 10001    | 212-438-3984 |
| Alison  | salad maker     | 2020-01-04 | 10023    | 212-329-2489 |
| Jerry   | delivery driver | 2019-12-15 |  10001   | 212-219-1029 |
| Brian   |  salad maker    | 2019-12-04 | 10002    | 646-328-2309 |
| Vanessa | clerk           | 2019-11-14 | 11201    | 718-348-2348 |

If the data has been inserted correctly, running the following `select * from employees` in the sqlite shell will return all of the data in the ingredients table.

### Conclusion

In this lab, we inserted data into the ingredients and employees tables of our saladshop database. This involved two steps. First, creating our .sql file with the INSERT statements. Second, we ran the .sql file in the sqlite shell.