# Comparison Operators

### Introduction

> Here is an example of a conditional statement in Python.

In [1]:
def can_drive(age):
    if age > 16:
        return True
    else:
        return False

The function above relies on [comparison operators](https://www.tutorialspoint.com/python/python_basic_operators.htm).  Let's explore some comparison operators in Python below.

### Comparison Operators

In [2]:
if 1 < 2:
    print('yes')

yes

In [3]:
if 1 > 2:
    print('yes')

In [4]:
if 1 < 3 < 5:
    print('yes')

yes

In [5]:
if 1 == 2:
    print('yes')

In [6]:
if 1 == 1:
    print('yes')

yes

In [7]:
if 'Hello' == "hello":
    print('yes')

In [8]:
if 'hello' == "hello":
    print('yes')

yes

In [9]:
if '1' == 1:
    print('yes')

In [10]:
if '1' != 1:
    print('yes')

yes

The above are our **comparison operators**.

* What can we infer from `==`.
* How do we represent non-equality.

### Truth in Numbers

In [11]:
1 == True

True

In [12]:
0 == False

True

> The last one's should be a bit of a surprise.  It means that instead of a list of True or False values, an equivalent list is one of 1s or 0s.

In [14]:
[True, False] == [1, 0]

False

### Practice with If Else

So when we use an `if else` statement our code moves through the first branch if we pass `if` a True value and moves through the second branch if we pass through a False value.

In [15]:
def what():
    if True:
        return 1
    else:
        return 0

In [18]:
what()

1

> Your turn.

Ok, now that we know more about boolean operators.  Let's practice a bit writing some `if else` statements.

> Write a method that checks if two first names are precisely the same.  It returns `True` if they are the same and `False` otherwise.

In [19]:
from IPython.utils.text import re
def same_name(name_one, name_two):
  if name_one == name_two:
    return True
  else:
    return False

In [20]:
same_name('sally', 'sally')
# True

True

In [21]:
same_name('sally', 'Sally')
# False

False

> Now write a new function that returns True even if the capitalization of the names is different.

In [29]:
def same_name_case_insensitive(name_one, name_two):
  if (name_one.capitalize() == name_two.capitalize()):
    return True
  else:
    return False

In [32]:
same_name_case_insensitive('sally', 'sally')
# True

True

### Refactoring if else

With if else functions, we can sometimes be repetitive.

> For example, here is the `can_drive` function that we started with.

In [40]:
def can_drive(age):
    if age > 16:
        return True
    else:
        return False

In [41]:
can_drive(17)

True

> Can you see a way that we can rewrite this in just one line, and without ever using the keywords `if else`?

In [59]:
def can_drive(age):
    return age > 16

In [60]:
can_drive(19)

True

> Can you write a function with that checks for the same name, and is case insensitive, without the keywords `if else`.

In [52]:
def same_name_case_insensitive(name_one, name_two):
    print(name_two.capitalize() == name_one.capitalize())

In [61]:
same_name_case_insensitive('sally', 'sally')
# True

True

In [62]:
same_name_case_insensitive('Sally', 'fred')
# False

False

### Multibranch if else

In [92]:
def discount(airline_miles):
    if airline_miles < 2 :
        return '-ve'
    elif airline_miles > 1:
        return '+ve'
    else:
        return 'neutral'

In [95]:
discount(1)

'-ve'

Practice writing your own multi-branch if else statement below.

> Write a function that returns places someone in a yoga class based on how long they have been practicing yoga.  

* If 2 months or fewer, return `'beginner'`
* If between 2 months and 2 years, return `'intermediate'`
* If more than two years return `'advanced'` class

In [69]:
def yoga_level(months):
    if months <= 2:
        return 'beginner'
    elif 2 < months < 24:
        return 'intermediate'
    else:
        return 'advanced'

In [65]:
yoga_level(2)
# 'beginner'

'beginner'

In [66]:
yoga_level(3)
# 'intermediate'

'intermediate'

In [67]:
yoga_level(25)
# 'advanced'

'advanced'

### Summary

In this lesson, we practiced using `if else` conditionals in Python.  The general pattern for an `if else` conditional is:

```python
if comparison:
    # do     
else:
    # do
```

We saw that a lot of understanding if else statements is understanding the rules of conditionals.  We can check for equality using `==` and inequality with `!=`.  We also saw that `1 == True`.