# Coercing Collections

### Introduction

So far we have learned about lists and dictionaries - and we have thought about the purpose of each.  One thing to explore further is how change our data from one form or another.  Doing so will allow us to take advantage of different methods and purposes of each datapoint.

### Lists and Sets

For example, two datatypes that are similar are lists and sets.  Here is a list of ages of employees.

In [1]:
ages = [22, 23, 22, 35, 40]

And below we coerce the list into a set.

In [2]:
ages_set = set(ages)
ages_set

{22, 23, 35, 40}

So as we can see, the set is a collection of unique items.  We can do a couple of things with sets.  Like seeing if there is an element in the set, or calculating the length of a set.

In [3]:
22 in ages_set

True

But sets do not have a sense of order like a list does, and because of that there is no sense of an index in a set.

In [5]:
ages_set

{22, 23, 35, 40}

For that we need a list.

In [6]:
list(ages_set)

[40, 35, 22, 23]

### Dictionaries and Lists

Let's take a look at a dictionary.

In [7]:
nyc = {'name': 'nyc', 'state': 'NY', 'population': 8000000}

Now if we were to break down this dictionary, we might say that there is a list of keys and a list of values.  Let's access each of these components.

In [8]:
nyc.keys()

dict_keys(['name', 'state', 'population'])

In [9]:
nyc.values()

dict_values(['nyc', 'NY', 8000000])

Each of these returns a `dict_keys` object.  Unfortunately, we cannot directly access the elements of a dictkeys object.  But we can if we change this object into a list.

In [10]:
city_keys = list(nyc.keys())
city_keys[-1]

'population'

### From lists to dictionaries

Finally, if we have a list of keys and a list of values, we can turn them into a dictionary.  For example, here are the list of keys from `nyc`.

In [11]:
city_keys

['name', 'state', 'population']

Let's say that we want to pair these with the values of a new city, Chicago.  We could do so with the following.

In [12]:
chicago_vals = ['Chicago', 'Illinois', 4000000]

In [13]:
paired_data = list(zip(city_keys, chicago_vals))
paired_data

[('name', 'Chicago'), ('state', 'Illinois'), ('population', 4000000)]

So using `zip` we have paired up the keys and values.  And from there, we can turn this into a dictionary.

In [14]:
chicago = dict(paired_data)
chicago

{'name': 'Chicago', 'state': 'Illinois', 'population': 4000000}

In [15]:
chicago['state']

'Illinois'

### Summary

In this lesson we saw how we can coerce our data into different types of collections.  We first went from a list to a set, which is an unordered collection that has a unique collection of items.  And saw how we can go from set to list.

We also saw how we can extract a list of a dictionary's keys or values.  

Finally, we saw how we can `zip` two lists together, and turn the result into a dictionary.