# Filtering With Lists

### Introduction

In the last couple lessons, we saw how we can loop through a collection of items in a list.  We did so to both select specific information from each element, as well as to make new calculations from each element.  In other words, we saw how to use loops to reject components of each element, as well as how to coerce each element.  

In this lesson, we'll see how to remove entire elements with filtering.

### What's filtering?

With filtering, we will only select certain elements from our list.

For example, let's say that we have a list of numbers, we could select just those numbers that are greater than zero.

In [3]:
rand_list = [-6, 8, -8, -2, -7, -3, 2, 4, 3, 0]
rand_list

[-6, 8, -8, -2, -7, -3, 2, 4, 3, 0]

In [6]:
pos_numbers = []
for num in rand_list:
    if num > 0:
      pos_numbers.append(num)

In [7]:
pos_numbers

[8, 2, 4, 3]

Or let's say that we have data that has a mix of names but also empty strings.  We can remove the strings that are empty like so.

In [8]:
names = ['sal', 'don', '', 'betty']
clean_names = []
for name in names:
    if name:
      clean_names.append(name)

In [9]:
clean_names

['sal', 'don', 'betty']

> Notice the use of a one line `if` statement.

Above we take advantage of the fact that only a string with contents is truthy.

### Selecting with List Comprehension

Above we selected sepecific elements through using a for loop.  But notice that we can also perform filtering through list comprehensions.

For example, here are our list of numbers.

In [10]:
rand_nums = [-6, 8, -8, -2, -7, -3, 2, 4, 3, 0]

And we can use list comprehension to select the numbers like so.

In [11]:
[num for num in rand_nums if num > 0]

[8, 2, 4, 3]

So breaking it down, this follows the following sequence.

`[return_val for var in sequence if condition]`

So we can divide the list comprehension into a couple of parts.

> The first two parts are the return value, and then the loop.

In [12]:
[num for num in rand_nums]
#return val, loop

[-6, 8, -8, -2, -7, -3, 2, 4, 3, 0]

And we end with the conditional.

In [13]:
[num for num in rand_nums if num > 0]
                        # conditional

[8, 2, 4, 3]

> Now it's your turn.

Use list comprehension to select only strings that are non-empty in the list below.

In [14]:
names = ['sal', 'don', '', 'betty']

In [16]:
# write code here
[name for name in names if name]

# ['sal', 'don', 'betty']

['sal', 'don', 'betty']

### Filtering and Mapping

Finally, by altering the return value, we can both reduce the number of elements and coerce the elements that remain.

> For example, here we filter out the numbers that are negative.

In [17]:
[num for num in rand_nums if num > 0]

[8, 2, 4, 3]

And here we filter those numbers out, but multiply our remaining numbers by 100.

In [18]:
[100*num for num in rand_nums if num > 0]

[800, 200, 400, 300]

### Summary

In this lesson, we saw how to only add certain elements to a list.  We first did this with a for loop.

One by one, we only added the element `if` is passed a certain criteria.

```python
rand_list = [-6, 8, -8, -2, -7, -3, 4, 3, 0]
pos_numbers = []
for num in rand_list:
    if num > 0: pos_numbers.append(num)
```

Then we saw how to perform the equivalent operation with a list comprehension.

In [19]:
rand_nums = [-6, 8, -8, -2, -7, -3, 2, 4, 3, 0]
[num for num in rand_nums if num > 0]

[8, 2, 4, 3]

Finally, we saw that we can combine filtering, and then adjusting the return value of the selected elements in one statement.

In [20]:
[num/2 for num in rand_nums if num > 0]

[4.0, 1.0, 2.0, 1.5]